
/shell/master/profile
/ghost/master/profile
ghost/master/satori_savebackup.txt
ghost/master/satori_savedata.txt
ghost/master/れしば.exe
ghost/master/れしば.txt
ghost/master/satorite.txt
ghost/master/satorite.exe
/shell/brush/profile
